<style>
   .container {
    text-align: center;
}

.text-container {
    margin-top: 20px; 
}

.proba-container {
    margin-top: 50px;
}

.date-container {
    margin-top: 20px; 
}

.table-container {
    margin-top: 50px; 
    margin-left: 10%; 
}

.table {
    border-collapse: separate;
}

.table th, .table td {
    border-bottom: 1px solid transparent;
    padding: 8px;
}
</style>

<div class="container">
    <div class="text-container">
        <div class="flex justify-center text-6xl">{{result.items.[0].natjecanje}}</div>
            
    </div>

 <div class="text-cont"></div>
     <div class="flex justify-center text-3xl">{{result.items.[0].apply_till}}</div>
</div>

    <div class="table-container">
        <div class="overflow-x-auto flex">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mjesto</th>
                        <th>Ime Natjecatelja</th>
                        <th>Broj bodova</th>
                        <th>Rok prijave</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result.items}}
                    <tr>
                        <td x-data="{}">
                            <span x-text="{{@index}}+1"></span>
                        </td>
                        <th>{{this.name}}</th>
                        <td>{{this.bodovii}}</td>
                        <td>{{this.apply_till}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>