<div class="p-2">   <!--  N  -->
    {{#if result.display_form}}
    <form method="post" action="/users/data" class="flex flex-col gap-2">
        <div class="pb-2 flex flex-col w-1/3">
            <label>Ime i prezime</label>
            <input type="text" name="name" value="{{user.name}}" class="bg-white" readonly />
        </div>
        <div class="pb-2 flex flex-col w-1/3">
            <label>E-mail adresa</label>
            <input type="text" name="email" value="{{user.email}}" class="bg-white" readonly />
        </div>
        <div class="pb-2 flex flex-col w-1/3">
            <label>Datum rođenja</label>
            <input type="text" name="datumR" value="{{user.datumR}}"  class="bg-white" readonly />
        </div>
        <div class="pb-2 flex flex-col w-1/3">
            <label>OIB</label>
            <input type="text" name="OIB" value="{{user.OIB}}"  class="bg-white" readonly />
        </div>
        <div class="pb-2 flex flex-col w-1/3">
            <label>Ustanova</label>
            <input type="text" name="ustanova" value="{{user.ustanova}}"  class="bg-white" readonly />
        </div>
        {{> form_buttons }}
        
    </form>
    
    {{#if result.competition}}
        <h2>Natjecanja u tijeku:</h2>
        <ul>
            {{#each result.competition}}
          <li>{{this.competition_name}} - {{this.competition_time}}</li>
            {{/each}}
        </ul>
    {{/if}}
    {{/if}}

    {{#if result.validation_error}}
    {{> validation_error }}
    {{/if}}

    {{#if result.email_in_use}}
    {{> email_in_use}}
    {{/if}}

    {{#if result.database_error}}
    {{> database_error}}
    {{/if}}

    {{#if result.success}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste promijenili podatke, sada ćemo vas odjaviti!
                </p>
                <div class="card-actions justify-end">
                </div>
            </div>
        </div>
        <script>
            setTimeout(() => {
                window.location = "/users/signout";
            }, 3000);
        </script>
    </div>
    {{/if}}
</div>
